@import "./Home.css";

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    max-width: 400px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.register-container h2 {
    font-size: var(--dynamic-font-size);
    color: #0056b3;
    text-align: center;
}

.register-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register-container label {
    font-size: var(--dynamic-font-size);
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.register-container input {
    padding: 10px;
    font-size: var(--dynamic-font-size);
    border: 2px solid #0056b3;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

.register-container button {
    background-color: #0056b3;
    color: white;
    font-size: var(--dynamic-font-size);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.register-container button:hover {
    background-color: #003f7f;
}
